.most-popular-child {
  text-decoration: none;
  position: absolute;
  top: 165px;
  left: 68px;
  background-color: var(--color-gainsboro);
  width: 127px;
  height: 96px;
  cursor: pointer;
}
.most-popular-child1,
.most-popular-child2,
.most-popular-inner,
.most-popular-item {
  text-decoration: none;
  position: absolute;
  background-color: var(--color-gainsboro);
  height: 98px;
}
.most-popular-item {
  top: 187px;
  left: 380px;
  width: 162px;
  cursor: pointer;
}
.most-popular-child1,
.most-popular-child2,
.most-popular-inner {
  top: 189px;
}
.most-popular-inner {
  left: 733px;
  width: 239px;
  cursor: pointer;
}
.most-popular-child1,
.most-popular-child2 {
  left: 542px;
  width: 191px;
}
.most-popular-child2 {
  left: 972px;
  width: 179px;
  cursor: pointer;
}
.frame-textarea,
.home4,
.torist3 {
  position: absolute;
  font-family: var(--font-inter);
}
.torist3 {
  top: 18px;
  left: 15px;
  font-size: var(--font-size-29xl);
  letter-spacing: 0.02em;
  display: inline-block;
  color: var(--color-white);
  text-align: left;
  width: 393px;
  height: 60px;
}
.frame-textarea,
.home4 {
  font-size: var(--font-size-5xl);
}
.frame-textarea {
  border: 0;
  background-color: var(--color-white);
  display: block;
  top: 108px;
  left: 178px;
  border-radius: var(--br-31xl);
  width: 1084px;
  height: 57px;
  overflow: hidden;
}
.home4 {
  top: 226px;
  left: 94px;
  letter-spacing: 0.02em;
  display: inline-block;
  color: var(--color-white);
  text-align: left;
  width: 162px;
  height: 35px;
}
.home-duotone-child10,
.home-duotone-child11,
.home-duotone-child9 {
  position: absolute;
  height: 58.33%;
  width: 58.33%;
  top: 29.64%;
  right: 20.83%;
  bottom: 12.02%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-duotone-child10,
.home-duotone-child11 {
  height: 37.5%;
  width: 75%;
  top: 17.22%;
  right: 12.5%;
  bottom: 45.28%;
  left: 12.5%;
}
.home-duotone-child11 {
  height: 25%;
  width: 20.83%;
  top: 62.5%;
  right: 39.58%;
  bottom: 12.5%;
  left: 39.58%;
}
.home-duotone-child12 {
  position: absolute;
  height: 16.67%;
  width: 8.33%;
  top: 20.83%;
  right: 25%;
  bottom: 62.5%;
  left: 66.67%;
  border-radius: var(--br-12xs-5);
  background-color: var(--color-gray-100);
}
.home-duotone3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 165px;
  left: 108px;
  width: 48px;
  height: 48px;
}
.menu-child7,
.menu-child8,
.menu-child9 {
  position: absolute;
  height: 4.17%;
  width: 62.5%;
  top: 27.08%;
  right: 18.75%;
  bottom: 68.75%;
  left: 18.75%;
  border-radius: var(--br-11xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-child8,
.menu-child9 {
  top: 47.92%;
  bottom: 47.92%;
}
.menu-child9 {
  top: 68.75%;
  bottom: 27.08%;
}
.menu3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 24px;
  left: 1366px;
  width: 48px;
  height: 48px;
}
.user-cicrle-duotone-child3,
.user-cicrle-duotone-child4 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.user-cicrle-duotone-child3 {
  height: 75%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  border-radius: var(--br-33xl);
}
.user-cicrle-duotone-child4 {
  height: 33.33%;
  width: 33.33%;
  top: 25%;
  right: 33.33%;
  bottom: 41.67%;
  left: 33.33%;
}
.intersect-icon3 {
  position: relative;
  border-radius: 0.25px;
  width: 25.14px;
  height: 12px;
}
.user-cicrle-duotone3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 24px;
  left: 1307px;
  width: 48px;
  height: 48px;
}
.more4 {
  position: absolute;
  top: 6px;
  left: 33px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.02em;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.more-container,
.torist-group {
  position: absolute;
  background-color: var(--color-silver-100);
  overflow: hidden;
}
.more-container {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  top: 201px;
  left: 1285px;
  border-radius: var(--br-21xl);
  box-sizing: border-box;
  width: 129px;
  height: 42px;
}
.torist-group {
  top: 0;
  left: 0;
  width: 1440px;
  height: 273px;
}
.span14 {
  font-size: var(--font-size-17xl);
}
.b3 {
  font-family: var(--font-inter);
}
.content10 {
  font-size: var(--font-size-5xl);
}
.plan-to-travel11 {
  font-weight: 500;
  font-family: var(--font-inter);
}
.content-plan-to-container3,
.social-media3 {
  position: absolute;
  letter-spacing: 0.05em;
  display: inline-block;
  color: var(--color-white);
  text-align: left;
}
.content-plan-to-container3 {
  top: 0;
  left: 0;
  white-space: pre-wrap;
  width: 472px;
  height: 179px;
}
.social-media3 {
  top: 10px;
  left: 1243px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  width: 197px;
  height: 83px;
}
.vector-icon19 {
  position: absolute;
  height: 99.39%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.61%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.facebook-negative3 {
  text-decoration: none;
  position: absolute;
  top: 42px;
  left: 1243px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.vector-icon20,
.vector-icon21,
.vector-icon22 {
  position: absolute;
  height: 99.98%;
  width: 99.94%;
  top: 0;
  right: 0.06%;
  bottom: 0.02%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon21,
.vector-icon22 {
  height: 51.37%;
  width: 51.37%;
  top: 24.32%;
  right: 24.32%;
  bottom: 24.32%;
  left: 24.32%;
}
.vector-icon22 {
  height: 11.99%;
  width: 11.99%;
  top: 17.3%;
  right: 17.3%;
  bottom: 70.7%;
  left: 70.7%;
}
.instagram-negative3 {
  text-decoration: none;
  position: absolute;
  top: 45px;
  left: 1314px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.vector-icon23 {
  position: absolute;
  height: 81.25%;
  width: 100%;
  top: 9.37%;
  right: 0;
  bottom: 9.37%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.twitter-negative3 {
  text-decoration: none;
  position: absolute;
  top: 45px;
  left: 1385px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.content-plan-to-travel-popular-parent1,
.frame-div {
  position: absolute;
  top: 2254px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 177px;
  overflow: hidden;
}
.frame-div {
  top: 273px;
  background-color: var(--color-silver-100);
  height: 32px;
}
.most-popular-child3,
.most-popular-child4,
.most-popular-child5,
.most-popular-child6,
.most-popular-child7 {
  text-decoration: none;
  position: absolute;
  top: 857px;
  left: 68px;
  background-color: var(--color-silver-100);
  filter: blur(20px);
  width: 305px;
  height: 64px;
}
.most-popular-child4,
.most-popular-child5,
.most-popular-child6,
.most-popular-child7 {
  top: 1926px;
  left: 1021px;
}
.most-popular-child5,
.most-popular-child6,
.most-popular-child7 {
  top: 1243px;
  left: 997px;
}
.most-popular-child6,
.most-popular-child7 {
  top: 1583px;
  left: 68px;
}
.most-popular-child7 {
  top: 683px;
  left: 997px;
}
.munnar,
.ooty {
  position: absolute;
  top: 870px;
  left: 76px;
  display: inline-block;
  width: 297px;
  height: 37px;
}
.munnar {
  top: 1933px;
  left: 1023px;
  height: 49px;
}
.darjeeling,
.manali,
.shimla,
.top-destinations-this {
  position: absolute;
  top: 1596px;
  left: 68px;
  display: inline-block;
  width: 305px;
  height: 38px;
}
.darjeeling,
.manali,
.top-destinations-this {
  top: 1256px;
  left: 1011px;
  height: 51px;
}
.manali,
.top-destinations-this {
  top: 692px;
  left: 998px;
  height: 46px;
}
.top-destinations-this {
  top: 338px;
  left: 142px;
  font-size: var(--font-size-29xl);
  color: #fc6767;
  width: 1082px;
  height: 71px;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px snow;
}
.manali-1-icon {
  position: absolute;
  top: 419px;
  left: 826px;
  border-radius: var(--br-131xl);
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.manali-is-a {
  position: absolute;
  top: 780px;
  left: 776px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 542px;
  height: 94px;
}
.darjeeling-1-icon {
  position: absolute;
  top: 1007px;
  left: 826px;
  border-radius: var(--br-131xl);
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.darjeeling-is-a {
  position: absolute;
  top: 1327px;
  left: 810px;
  display: inline-block;
  width: 599px;
  height: 216px;
}
.shimla-is-a {
  margin: 0;
}
.munnar-is-a,
.ooty-is-a,
.shimla-is-a-container {
  position: absolute;
  top: 1686px;
  left: 147px;
  display: inline-block;
  width: 331px;
  height: 86px;
}
.munnar-is-a,
.ooty-is-a {
  top: 2010px;
  left: 783px;
  width: 558px;
  height: 87px;
}
.ooty-is-a {
  top: 967px;
  left: 103px;
  width: 436px;
  height: 15px;
}
.munnar-1-icon,
.ooty-2-1-icon,
.shimla-2-1-icon {
  position: absolute;
  top: 607px;
  left: 261px;
  border-radius: var(--br-131xl);
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.munnar-1-icon,
.shimla-2-1-icon {
  top: 1347px;
}
.munnar-1-icon {
  top: 1682px;
  left: 826px;
}
.full-shot-travel-concept-with-icon4 {
  position: absolute;
  top: 305px;
  left: 0;
  width: 1440px;
  height: 2108px;
  object-fit: cover;
  opacity: 0.5;
}
.booking3,
.loginsignup2,
.most-popular3,
.personal-tour-guide3 {
  position: absolute;
  top: 240px;
  left:380px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.loginsignup2,
.most-popular3,
.personal-tour-guide3 {
  left:560px;
}
.loginsignup2,
.personal-tour-guide3 {
  left:780px;
}
.loginsignup2 {
  left: 1040px;
}
/* .booking1,
.loginsignup1,
.most-popular2,
.personal-tour-guide2 {
  position: absolute;
  top: 246px;
  left: 373px;
  font-size: var(--font-size-4xl);
  color: var(--color-white);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.loginsignup1,
.most-popular2,
.personal-tour-guide2 {
  left: 550px;
}
.loginsignup1,
.personal-tour-guide2 {
  left: 760px;
}
.loginsignup1 {
  left: 1028px;
} */
.subtract-icon8 {
  position: relative;
  width: 30.33px;
  height: 46.4px;
}
.sign-in-squre-fill2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 188px;
  left: 1077px;
  width: 52px;
  height: 52px;
}
.pin-duotone-child4,
.pin-duotone-child5 {
  position: absolute;
  height: 67.44%;
  width: 67.44%;
  top: 11.71%;
  right: 11.71%;
  bottom: 20.85%;
  left: 20.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pin-duotone-child5 {
  height: 21.44%;
  width: 21.44%;
  top: 59.07%;
  right: 59.07%;
  bottom: 19.49%;
  left: 19.49%;
}
.pin-duotone3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 188px;
  left: 597px;
  width: 52px;
  height: 52px;
}
.map-duotone-line-child13,
.map-duotone-line-child14 {
  position: absolute;
  height: 47.92%;
  width: 16.67%;
  top: 22.92%;
  right: 64.58%;
  bottom: 29.17%;
  left: 18.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.map-duotone-line-child14 {
  top: 25%;
  right: 18.75%;
  bottom: 27.08%;
  left: 64.58%;
}
.map-duotone-line-child15,
.map-duotone-line-child16,
.map-duotone-line-child17 {
  position: absolute;
  height: 51.8%;
  width: 64.42%;
  top: 22.01%;
  right: 17.79%;
  bottom: 26.18%;
  left: 17.79%;
  border-radius: 0.45px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.map-duotone-line-child16,
.map-duotone-line-child17 {
  height: 41.67%;
  width: 1.92%;
  top: 31.25%;
  right: 34.46%;
  bottom: 27.08%;
  left: 63.62%;
}
.map-duotone-line-child17 {
  top: 22.92%;
  right: 63.62%;
  bottom: 35.42%;
  left: 34.46%;
}
.map-duotone-line3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 188px;
  left: 393px;
  width: 52px;
  height: 52px;
}
.group-light-child10,
.group-light-child11,
.group-light-child12,
.group-light-child9 {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 20.83%;
  right: 37.5%;
  bottom: 54.17%;
  left: 37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-light-child10,
.group-light-child11,
.group-light-child12 {
  height: 20.83%;
  width: 20.83%;
  right: 23.6%;
  bottom: 58.33%;
  left: 55.56%;
}
.group-light-child11,
.group-light-child12 {
  width: 19.44%;
  right: 55.56%;
  left: 25%;
}
.group-light-child12 {
  height: 26.92%;
  width: 47.51%;
  top: 51.12%;
  right: 26.24%;
  bottom: 21.96%;
  left: 26.24%;
}
.subtract-icon9 {
  position: relative;
  width: 15.51px;
  height: 11.83px;
}
.group-light3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 188px;
  left: 836px;
  width: 53px;
  height: 52px;
}
.most-popular1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2431px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
