<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/global.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/most-popular.css')}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,500;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Avenir:wght@400;900&display=swap"
    />
  </head>
  <body>
    <div class="most-popular1">
      <a class="most-popular-child" target="_self" href="/"  id="rectangleLink"> </a>
      <a class="most-popular-item" target="_self" href="./booking.html" id="rectangleLink1">
      </a>
      <a
        class="most-popular-inner"
        target="_self"
        href="./personal-tour-guide.html"
        id="rectangleLink2"
      >
      </a>
      <a class="most-popular-child1"> </a>
      <a
        class="most-popular-child2"
        target="_self"
        href="./loginsign-up.html"
        id="rectangleLink4"
      >
      </a>
      <nav class="torist-group">
        <b class="torist3">torist</b>
        <input class="frame-textarea" type="text"  placeholder=" where to go..." />
        <b class="home4"><a href="/">HOME</a></b>
        <button class="home-duotone3">
          <img
            class="home-duotone-child9"
            alt=""
            src="{{url_for('static',filename='imgs/rectangle-4127.svg')}}"
          />

          <img
            class="home-duotone-child10"
            alt=""
            src="{{url_for('static',filename='imgs/rectangle-4128.svg')}}"
          />

          <img
            class="home-duotone-child11"
            alt=""
            src="{{url_for('static',filename='imgs/vector-3.svg')}}"
          />
        
          <div class="home-duotone-child12"></div>
        </button>
        
        <button class="menu3">
          <img class="menu-child7" alt="" src="{{url_for('static',filename='imgs/vector-7.svg')}}" />

          <img class="menu-child8" alt="" src="{{url_for('static',filename='imgs/vector-7.svg')}}" />

          <img class="menu-child9" alt="" src="{{url_for('static',filename='imgs/vector-7.svg')}}" />
        </button>
        <button class="user-cicrle-duotone3">
          <img
            class="user-cicrle-duotone-child3"
            alt=""
            src="{{url_for('static',filename='imgs/rectangle-1.svg')}}"
          />

          <img
            class="user-cicrle-duotone-child4"
            alt=""
            src="{{url_for('static',filename='imgs/ellipse-46.svg')}}"
          />

          <img class="intersect-icon3" alt="" src="{{url_for('static',filename='imgs/intersect1.svg')}}" />
        </button>
        <button class="more-container">
          <div class="more4">More</div>
        </button>
      </nav>
      <img
        class="full-shot-travel-concept-with-icon4"
        alt=""
        src="{{url_for('static',filename='imgs/fullshottravelconceptwithlandmarks-13@2x.png')}}"
      />
      <nav class="content-plan-to-travel-popular-parent1">
        <div class="content-plan-to-container3">
          <p class="shimla-is-a">
            <b class="b3">
              <span class="span14"> </span>
            </b>
            <span class="content10">
              <b class="b3">CONTENT</b>
            </span>
          </p>
          <p class="shimla-is-a">
            <span class="content10">
              <span class="plan-to-travel11"> plan to travel</span>
            </span>
          </p>
          <p class="shimla-is-a">
            <span class="content10">
              <span class="plan-to-travel11"> popular places</span>
            </span>
          </p>
          <p class="shimla-is-a">
            <span class="content10">
              <span class="plan-to-travel11"> tour guidance</span>
            </span>
          </p>
          <p class="shimla-is-a">
            <span class="content10">
              <span class="plan-to-travel11"> </span>
            </span>
          </p>
          <p class="shimla-is-a">
            <span class="content10">
              <span class="plan-to-travel11">&nbsp;</span>
            </span>
          </p>
          <p class="shimla-is-a">
            <span class="content10">
              <span class="plan-to-travel11">&nbsp;</span>
            </span>
          </p>
          <p class="shimla-is-a">
            <span class="content10">
              <span class="plan-to-travel11">&nbsp;</span>
            </span>
          </p>
          <p class="shimla-is-a">
            <span class="content10">
              <span class="plan-to-travel11">&nbsp;</span>
            </span>
          </p>
        </div>
        <b class="social-media3">SOCIAL MEDIA</b>
        <a class="facebook-negative3">
          <img class="vector-icon19" alt="" src="{{url_for('static',filename='imgs/vector.svg')}}" />
        </a>
        <a class="instagram-negative3">
          <img class="vector-icon20" alt="" src="{{url_for('static',filename='imgs/vector1.svg')}}" />

          <img class="vector-icon21" alt="" src="{{url_for('static',filename='imgs/vector2.svg')}}" />

          <img class="vector-icon22" alt="" src="{{url_for('static',filename='imgs/vector31.svg')}}" />
        </a>
        <a class="twitter-negative3">
          <img class="vector-icon23" alt="" src="{{url_for('static',filename='imgs/vector3.svg')}}" />
        </a>
      </nav>
      <div class="frame-div"></div>
      <a class="most-popular-child3"> </a>
      <a class="most-popular-child4"> </a>
      <a class="most-popular-child5"> </a>
      <a class="most-popular-child6"> </a>
      <a class="most-popular-child7"> </a>
      <div class="ooty"><a href="https://drive.google.com/file/d/1tbMLiuET_JHqaNm0KHuO7tKh59Mwrnum/view?usp=share_link">Ooty</a></div>
      <div class="munnar"><a href="https://drive.google.com/file/d/1Tt5EJw_6aTlKNSBsAiaGnKg3IIkWIgqQ/view?usp=share_link">Munnar</a></div>
      <div class="shimla"><a href="https://drive.google.com/file/d/1gIJxt1JeVCpQzDlHMwGXGGbYFV0sDKCN/view?usp=share_link">Shimla</a></div>
      <div class="darjeeling"><a href="https://drive.google.com/file/d/1yGxztmbRdxfuZA4qhFjL96utPci8sMya/view?usp=share_link">Darjeeling</a></div>
      <div class="manali"><a href="https://drive.google.com/file/d/1hHuULZYWpVk-GHDGBa22onSIvQRSC6w1/view?usp=share_link">Manali</a></div>
      <b class="top-destinations-this">top destinations this season ...</b>
      <img class="manali-1-icon" alt="" src="{{url_for('static',filename='imgs/manali-1@2x.png')}}" />

      <div class="manali-is-a">
        Manali is a popular hill station located in the northern Indian state of
        Himachal Pradesh, known for its scenic beauty, adventure activities, and
        snow-capped mountains.
      </div>
      <img
        class="darjeeling-1-icon"
        alt=""
        src="{{url_for('static',filename='imgs/darjeeling-1@2x.png')}}"
      />

      <div class="darjeeling-is-a">
        Darjeeling is a picturesque hill station located in the Indian state of
        West Bengal, known for its scenic beauty, tea plantations, and colonial
        architecture.
      </div>
      <div class="shimla-is-a-container">
        <p class="shimla-is-a">
          Shimla is a popular hill station in India, located in the state of
          Himachal Pradesh, known for its colonial architecture, scenic beauty,
          and pleasant climate.
        </p>
      </div>
      <div class="munnar-is-a">
        Munnar is a picturesque hill station located in the Indian state of
        Kerala, known for its tea plantations, misty mountains, and serene
        natural beauty
      </div>
      <div class="ooty-is-a">
        Ooty is a popular hill station located in the southern Indian state of
        Tamil Nadu, known for its pleasant weather, scenic beauty, and tea
        plantations.
      </div>
      <img class="ooty-2-1-icon" alt="" src="{{url_for('static',filename='imgs/ooty2-1@2x.png')}}" />

      <img class="shimla-2-1-icon" alt="" src="{{url_for('static',filename='imgs/shimla2-1@2x.png')}}" />

      <img class="munnar-1-icon" alt="" src="{{url_for('static',filename='imgs/munnar-1@2x.png')}}" />


      <!-- <b class="booking1">Booking</b>
      <b class="most-popular2">Most Popular</b>
      <b class="personal-tour-guide2">Personal tour guide</b>
      <b class="loginsignup1">Login/Signup</b> -->
      <a href="/booking.html"><b class="booking3">Booking</b></a>
          <a href="/most-popular.html"><b class="most-popular3">Most Popular</b></a>
          <a href="/personal-tour-guide.html"><b class="personal-tour-guide3">Personal tour guide</b></a>
          <a href="/loginsign-up.html"><b class="loginsignup2">Login/Signup</b></a>
      <button class="sign-in-squre-fill2">
        <img class="subtract-icon8" alt="" src="{{url_for('static',filename='imgs/subtract5.svg')}}" />
      </button>
      <button class="pin-duotone3">
        <img
          class="pin-duotone-child4"
          alt=""
          src="{{url_for('static',filename='imgs/rectangle-13.svg')}}"
        />

        <img class="pin-duotone-child5" alt="" src="{{url_for('static',filename='imgs/vector-632.svg')}}" />
      </button>
      <button class="map-duotone-line3">
        <img
          class="map-duotone-line-child13"
          alt=""
          src="{{url_for('static',filename='imgs/vector-372.svg')}}"
        />

        <img
          class="map-duotone-line-child14"
          alt=""
          src="{{url_for('static',filename='imgs/vector-373.svg')}}"
        />

        <img
          class="map-duotone-line-child15"
          alt=""
          src="{{url_for('static',filename='imgs/vector-326.svg')}}"
        />

        <img
          class="map-duotone-line-child16"
          alt=""
          src="{{url_for('static',filename='imgs/vector-3272.svg')}}"
        />

        <img
          class="map-duotone-line-child17"
          alt=""
          src="{{url_for('static',filename='imgs/vector-3281.svg')}}"
        />
      </button>
      <button class="group-light3">
        <img class="group-light-child9" alt="" src="{{url_for('static',filename='imgs/ellipse-461.svg')}}" />

        <img
          class="group-light-child10"
          alt=""
          src="{{url_for('static',filename='imgs/ellipse-472.svg')}}"
        />

        <img
          class="group-light-child11"
          alt=""
          src="{{url_for('static',filename='imgs/ellipse-492.svg')}}"
        />

        <img
          class="group-light-child12"
          alt=""
          src="{{url_for('static',filename='imgs/rectangle-41602.svg')}}"
        />

        <img class="subtract-icon9" alt="" src="{{url_for('static',filename='imgs/subtract1.svg')}}" />

        <img class="subtract-icon9" alt="" src="{{url_for('static',filename='imgs/subtract6.svg')}}" />
      </button>
    </div>

  </body>
</html>
