<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/global.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/personal-tour-guide.css')}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,500;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Avenir:wght@900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Autour One:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="personal-tour-guide1">
      <img
        class="full-shot-travel-concept-with-icon2"
        alt=""
        src="{{url_for('static',filename='imgs/fullshottravelconceptwithlandmarks-12@2x.png')}}"
      />

      <a
        class="personal-tour-guide-child"
        href="./booking.html"
        id="rectangleLink"
      >
      </a>
      <a
        class="personal-tour-guide-item"
        href="./loginsign-up.html"
        id="rectangleLink1"
      >
      </a>
      <a class="personal-tour-guide-inner"> </a>
      <a
        class="personal-tour-guide-child1"
        href="./most-popular.html"
        id="rectangleLink3"
      >
      </a>
      
       
      <nav class="booking-group">
        
        <!-- <b class="booking1"> Booking </b>
        <b class="loginsign-up">Login/Sign-up</b>
        <b class="personal-tour-guide2"> Personal tour guide</b>
        <b class="most-popular1">Most popular</b>-->
        <b class="torist1">torist</b> 
        <a href="/booking.html"><b class="booking1">Booking</b></a>
          <a href="/most-popular.html"><b class="most-popular1">Most Popular</b></a>
          <a href="/personal-tour-guide.html"><b class="personal-tour-guide2">Personal tour guide</b></a>
          <a href="/loginsign-up.html"><b class="loginsign-up">Login/Signup</b></a>
          <input class="frame-item" type="text"  placeholder=" where to go..." />

        <b class="home2"><a href="/">HOME</a></b>
        <button class="home-duotone1">
          <img
            class="home-duotone-child1"
            alt=""
            src="{{url_for('static',filename='imgs/rectangle-4127.svg')}}"
          />

          <img
            class="home-duotone-child2"
            alt=""
            src="{{url_for('static',filename='imgs/rectangle-4128.svg')}}"
          />

          <img class="home-duotone-child3" alt="" src="{{url_for('static',filename='imgs/vector-3.svg')}}" />

          <div class="home-duotone-child4"></div>
        </button>
        <img
          class="sign-in-squre-fill-icon"
          alt=""
          src="{{url_for('static',filename='imgs/sign-in-squre-fill.svg')}}"
        />

        <button class="menu1">
          <img class="menu-child1" alt="" src="{{url_for('static',filename='imgs/vector-7.svg')}}" />

          <img class="menu-child2" alt="" src="{{url_for('static',filename='imgs/vector-7.svg')}}" />

          <img class="menu-child3" alt="" src="{{url_for('static',filename='imgs/vector-7.svg')}}" />
        </button>
        <button class="pin-duotone1">
          <img
            class="pin-duotone-inner"
            alt=""
            src="{{url_for('static',filename='imgs/rectangle-12.svg')}}"
          />

          <img
            class="pin-duotone-child1"
            alt=""
            src="{{url_for('static',filename='imgs/vector-631.svg')}}"
          />
        </button>
        <button class="map-duotone-line1">
          <img
            class="map-duotone-line-child3"
            alt=""
            src="{{url_for('static',filename='imgs/vector-3721.svg')}}"
          />

          <img
            class="map-duotone-line-child4"
            alt=""
            src="{{url_for('static',filename='imgs/vector-3731.svg')}}"
          />

          <img
            class="map-duotone-line-child5"
            alt=""
            src="{{url_for('static',filename='imgs/vector-3261.svg')}}"
          />

          <img
            class="map-duotone-line-child6"
            alt=""
            src="{{url_for('static',filename='imgs/vector-3271.svg')}}"
          />

          <img
            class="map-duotone-line-child7"
            alt=""
            src="{{url_for('static',filename='imgs/vector-3271.svg')}}"
          />
        </button>
        <button class="user-cicrle-duotone1">
          <img
            class="user-cicrle-duotone-inner"
            alt=""
            src="{{url_for('static',filename='imgs/rectangle-13.svg')}}"
          />

          <img class="ellipse-icon" alt="" src="{{url_for('static',filename='imgs/ellipse-46.svg')}}" />

          <img class="intersect-icon1" alt="" src="{{url_for('static',filename='imgs/intersect1.svg')}}" />
        </button>
        <button class="group-light1">
          <img
            class="group-light-child1"
            alt=""
            src="{{url_for('static',filename='imgs/ellipse-4611.svg')}}"
          />

          <img
            class="group-light-child2"
            alt=""
            src="{{url_for('static',filename='imgs/ellipse-471.svg')}}"
          />

          <img
            class="group-light-child3"
            alt=""
            src="{{url_for('static',filename='imgs/ellipse-491.svg')}}"
          />

          <img
            class="group-light-child4"
            alt=""
            src="{{url_for('static',filename='imgs/rectangle-41601.svg')}}"
          />

          <img class="subtract-icon3" alt="" src="{{url_for('static',filename='imgs/subtract4.svg')}}" />

          <img class="subtract-icon3" alt="" src="{{url_for('static',filename='imgs/subtract21.svg')}}" />
        </button>
        <button class="more-parent">
          <div class="more1">More</div>
        </button>
      </nav>
      <nav class="content-plan-to-travel-popular-group">
        <div class="content-plan-to-container1">
          <p class="your-ultimate-resource">
            <b class="b1">
              <span class="span3"> </span>
            </b>
            <span class="content4">
              <b class="b1">CONTENT</b>
            </span>
          </p>
          <p class="your-ultimate-resource">
            <span class="content4">
              <span class="plan-to-travel5"> plan to travel</span>
            </span>
          </p>
          <p class="your-ultimate-resource">
            <span class="content4">
              <span class="plan-to-travel5"> popular places</span>
            </span>
          </p>
          <p class="your-ultimate-resource">
            <span class="content4">
              <span class="plan-to-travel5"> tour guidance</span>
            </span>
          </p>
          <p class="your-ultimate-resource">
            <span class="content4">
              <span class="plan-to-travel5"> </span>
            </span>
          </p>
          <p class="your-ultimate-resource">
            <span class="content4">
              <span class="plan-to-travel5">&nbsp;</span>
            </span>
          </p>
          <p class="your-ultimate-resource">
            <span class="content4">
              <span class="plan-to-travel5">&nbsp;</span>
            </span>
          </p>
          <p class="your-ultimate-resource">
            <span class="content4">
              <span class="plan-to-travel5">&nbsp;</span>
            </span>
          </p>
          <p class="your-ultimate-resource">
            <span class="content4">
              <span class="plan-to-travel5">&nbsp;</span>
            </span>
          </p>
        </div>
        <b class="social-media1">SOCIAL MEDIA</b>
        <a class="facebook-negative1">
          <img class="vector-icon5" alt="" src="{{url_for('static',filename='imgs/vector.svg')}}" />
        </a>
        <a class="instagram-negative1">
          <img class="vector-icon6" alt="" src="{{url_for('static',filename='imgs/vector1.svg')}}" />

          <img class="vector-icon7" alt="" src="{{url_for('static',filename='imgs/vector2.svg')}}" />

          <img class="vector-icon8" alt="" src="{{url_for('static',filename='imgs/vector31.svg')}}" />
        </a>
        <a class="twitter-negative1">
          <img class="vector-icon9" alt="" src="{{url_for('static',filename='imgs/vector3.svg')}}" />
        </a>
      </nav>
      <nav class="frame-nav"></nav>

			<h2 class="word">
				<form action="{{ url_for('guide') }}" method="post">
				<div class="msg">{{ msg }}</div>
					<input name="destination" class="destination" type="text" placeholder="Enter Your Destination" class="textbox"/></br></br></br>
					<input type="submit" class="btn" value="Search"></br></br>
				</form>
			</h2>

      

      <div class="enter-the-place-container">
        <span class="enter-the-place-container1">
          <p class="enter-the-place">
            Enter the place for which you want to contact a tour guide.
          </p>
          <p class="blank-line24">&nbsp;</p>
          <p class="your-ultimate-resource">
            Your ultimate resource for exploring your destination like a local .
            So come explore with us and discover the hidden treasures of your
            destination!
          </p>
        </span>
      </div>

    </div>

  </body>
</html>
