
<html>
	<head>
		<meta charset="UTF-8">
		<title> Profile </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">			
	</head>
	<body></br></br></br></br></br>
        <div align="center">
            <div align="center" class="border">
			<h2 class="word">

				<div>
                    <p>Your account details are below:</p>
                    <table>
                        <tr>
                            <td>Username:</td>
                            <td>{{ account['username'] }}</td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td>{{ account['password'] }}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ account['email'] }}</td>
                        </tr>
                    </table>
                </div>
                <form action="{{ url_for('logout') }}" method="post">
					<input type="submit" class="btn" value="logout"></br>
				</form>
			</h2>
		</div>
		</div>
	</body>
</html>
